/* pages/supply/supply.wxss */
.wrap {
  padding: 0 35rpx;
}
.wrap view {
  position: relative;
  border-bottom: solid 1rpx #eeeeee;
  font-size: 30rpx;
  line-height: 86rpx;
  overflow: hidden;
}
.wrap view .l-t-title {
  width: 380rpx;
  float: right;
  margin-top: 26rpx;
  font-size: 30rpx;
  line-height: 28rpx;
  color: #999999;
  text-align: right;
  margin-right: 40rpx;
}
.wrap view text {
  color: #666666;
}
.wrap view .loc {
  width: 48rpx;
  height: 48rpx;
  padding: 10rpx;
  vertical-align: -24rpx;
}
.wrap view input {
  line-height: 86rpx;
  height: 86rpx;
  color: #999999;
  width: 380rpx;
  float: right;
  text-align: right;
  margin-right: 40rpx;
}
.wrap view .sr {
  line-height: 86rpx;
  height: 86rpx;
  color: #999999;
  width: 380rpx;
  float: right;
  text-align: right;
  border: none;
  margin-right: 40rpx;
}
.wrap view picker {
  float: right;
  border: none;
}
.wrap view picker view {
  border: none;
  color: #999999;
}
.wrap view .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 32rpx;
  height: 32rpx;
}
.wrap .l-detail {
  padding: 20rpx 0;
  margin-bottom: 30rpx;
  width: 100%;
  font-size: 30rpx;
  color: #999999;
}
.line {
  width: 100%;
  height: 20rpx;
  background: #eeeeee;
}
.upfile {
  margin: 0 35rpx;
}
.upfile view {
  font-size: 30rpx;
  color: #666666;
  padding: 30rpx 0;
  margin-bottom: 24rpx;
  border-bottom: #eeeeee solid 1rpx;
}
.upfile image {
  width: 220rpx;
  height: 150rpx;
  margin-left: 10rpx;
}
.upfile image:nth-of-type(3n + 1) {
  margin-left: 0;
}
.section-wrap {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}
.section-wrap .section {
  position: absolute;
  left: 0;
  top: 200rpx;
  background: #eeeeee;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  padding: 10rpx 0;
}
.section-wrap .section scroll-view {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 28rpx;
}
.section-wrap .section scroll-view view {
  line-height: 50rpx;
  margin: 0 50rpx;
}
.section-wrap .section scroll-view view.active {
  color: #ffc43d;
  border-bottom: solid 1rpx #ffc43d;
}
.save {
  margin: 35rpx;
}
.save::after {
  background: #ffc43d;
  content: "确认信息";
  font-size: 68rpx;
  border: none;
}
